.u-section-1 .u-sheet-1 {
  min-height: 4561px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 73px auto 0 0;
}

.u-section-1 .u-group-1 {
  margin-bottom: 0;
  margin-top: 74px;
  min-height: 211px;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 30px 30px;
}

.u-section-1 .u-text-2 {
  font-family: Barlow;
  font-weight: 700;
  margin: 26px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: Barlow;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-1 .u-group-2 {
  margin-top: 21px;
  margin-bottom: 0;
  min-height: 248px;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 0;
}

.u-section-1 .u-text-4 {
  text-align: left;
  font-family: Barlow;
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-5 {
  font-family: Barlow;
  font-size: 1.125rem;
  text-align: left;
  margin: 21px 30px 0;
}

.u-section-1 .u-group-3 {
  min-height: 203px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-6 {
  font-family: Barlow;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-family: Barlow;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-1 .u-group-4 {
  min-height: 157px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-8 {
  font-family: Barlow;
  font-weight: 700;
  margin: 26px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-family: Barlow;
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-1 .u-group-5 {
  min-height: 707px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-10 {
  text-align: left;
  font-family: Barlow;
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-11 {
  font-family: Barlow;
  font-size: 1.125rem;
  text-align: left;
  margin: 21px 30px 0;
}

.u-section-1 .u-group-6 {
  margin-top: 21px;
  margin-bottom: 0;
  min-height: 2244px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-1 .u-text-12 {
  font-family: Barlow;
  font-weight: 700;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-13 {
  font-family: Barlow;
  font-size: 1.125rem;
  margin: 21px 10px 0;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 305px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 540px;
  height: 301px;
  margin: -305px 0 0 auto;
}

.u-section-1 .u-text-14 {
  font-family: Barlow;
  font-size: 1.125rem;
  margin: 30px 0 0 10px;
}

.u-section-1 .u-image-3 {
  width: 550px;
  height: 322px;
  margin: 25px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 540px;
  height: 322px;
  margin: -322px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 540px;
  height: 324px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 550px;
  height: 325px;
  margin: -324px 0 0 auto;
}

.u-section-1 .u-text-15 {
  font-family: Barlow;
  font-size: 1.125rem;
  margin: 45px 0 0 10px;
}

.u-section-1 .u-image-7 {
  width: 550px;
  height: 266px;
  margin: 25px 260px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 550px;
  height: 254px;
  margin: 0 260px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 550px;
  height: 264px;
  margin: 0 260px 0 auto;
}

.u-section-1 .u-group-7 {
  min-height: 371px;
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .u-text-16 {
  text-align: left;
  font-family: Barlow;
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-text-17 {
  font-family: Barlow;
  font-size: 1.125rem;
  text-align: left;
  margin: 21px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-4 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 680px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -648px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 494px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: 175px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 98px;
  }

  .u-section-1 .u-image-5 {
    width: 450px;
    height: 265px;
    margin-top: -366px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -272px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-7 {
    margin-bottom: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-4 {
    margin-top: 848px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -831px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 741px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -305px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 123px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -5px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 130px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 130px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 1192px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -1231px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 666px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 294px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 290px;
    margin-top: -294px;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 304px;
    margin-top: 115px;
  }

  .u-section-1 .u-image-4 {
    width: 520px;
    height: 310px;
    margin-top: -304px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -342px;
  }

  .u-section-1 .u-image-6 {
    width: 520px;
    height: 307px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -12px;
  }

  .u-section-1 .u-image-7 {
    width: 520px;
    height: 251px;
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 520px;
    height: 240px;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    width: 520px;
    height: 250px;
    margin-top: 65px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-4 {
    margin-top: 1867px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -2018px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 690px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 181px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 178px;
    margin-top: -181px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 187px;
    margin-top: 12px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 191px;
    margin-top: -187px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 192px;
    margin-top: -142px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 189px;
    margin-top: -195px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    width: 320px;
    height: 154px;
  }

  .u-section-1 .u-image-8 {
    width: 320px;
    height: 148px;
    margin-top: 111px;
  }

  .u-section-1 .u-image-9 {
    width: 320px;
    height: 154px;
    margin-top: 60px;
  }
}