 .u-section-1 {
  min-height: 9607px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 163px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 274px;
  margin-bottom: 0;
  margin-top: 84px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-family: Barlow;
  font-size: 1.5rem;
  margin: 26px 163px 0;
}

.u-section-1 .u-group-2 {
  min-height: 338px;
  margin: 183px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-family: Barlow;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: left;
  margin: 29px auto 0 163px;
}

.u-section-1 .u-text-4 {
  font-family: Barlow;
  font-size: 1.5rem;
  margin: 29px 163px 0;
}

.u-section-1 .u-group-3 {
  min-height: 559px;
  margin-bottom: 0;
  margin-top: 1px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-family: Barlow;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: left;
  margin: 41px auto 0 163px;
}

.u-section-1 .u-text-6 {
  font-family: Barlow;
  font-size: 1.5rem;
  text-align: left;
  margin: 29px 163px 0;
}

.u-section-1 .u-group-4 {
  min-height: 451px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-family: Barlow;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: left;
  margin: 28px auto 0 163px;
}

.u-section-1 .u-text-8 {
  font-family: Barlow;
  font-size: 1.5rem;
  margin: 28px 163px 0;
}

.u-section-1 .u-group-5 {
  min-height: 1394px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  text-align: left;
  font-family: Barlow;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 34px auto 0 163px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  font-family: Barlow;
  margin: 45px 163px 0;
}

.u-section-1 .u-group-6 {
  min-height: 1356px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-family: Barlow;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 48px auto 0 163px;
}

.u-section-1 .u-text-12 {
  font-family: Barlow;
  font-size: 1.5rem;
  margin: 36px 163px 0;
}

.u-section-1 .u-image-1 {
  width: 702px;
  height: 384px;
  margin: 53px auto 0;
}

.u-section-1 .u-image-2 {
  width: 736px;
  height: 388px;
  margin: 46px auto 0;
}

.u-section-1 .u-group-7 {
  min-height: 2430px;
  margin-top: 3px;
  margin-bottom: 0;
  width: calc(((100% - 1140px) / 2) + 1220px);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-13 {
  font-family: Barlow;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 69px auto 0 163px;
}

.u-section-1 .u-text-14 {
  font-family: Barlow;
  font-size: 1.5rem;
  margin: 29px 163px 0;
}

.u-section-1 .u-image-3 {
  width: 620px;
  height: 366px;
  margin: 63px auto 0 163px;
}

.u-section-1 .u-text-15 {
  font-family: Barlow;
  font-size: 1.5rem;
  margin: -366px 120px 0 818px;
}

.u-section-1 .u-image-4 {
  width: 620px;
  height: 366px;
  margin: 260px auto 0 163px;
}

.u-section-1 .u-text-16 {
  font-family: Barlow;
  font-size: 1.5rem;
  text-align: left;
  margin: -366px 120px 0 818px;
}

.u-section-1 .u-image-5 {
  width: 620px;
  height: 365px;
  margin: 222px auto 0 163px;
}

.u-section-1 .u-text-17 {
  font-family: Barlow;
  font-size: 1.5rem;
  text-align: left;
  margin: -365px 120px 0 818px;
}

.u-section-1 .u-image-6 {
  width: 620px;
  height: 366px;
  margin: 183px auto 0 163px;
}

.u-section-1 .u-text-18 {
  font-family: Barlow;
  font-size: 1.5rem;
  text-align: left;
  margin: -366px 120px 0 818px;
}

.u-section-1 .u-group-8 {
  min-height: 1452px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-19 {
  font-family: Barlow;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: left;
  margin: 29px auto 0 163px;
}

.u-section-1 .u-text-20 {
  font-family: Barlow;
  font-size: 1.5rem;
  margin: 29px 163px 0;
}

.u-section-1 .u-image-7 {
  width: 604px;
  height: 327px;
  margin: 29px auto 0;
}

.u-section-1 .u-image-8 {
  width: 604px;
  height: 310px;
  margin: 27px auto 0;
}

.u-section-1 .u-image-9 {
  width: 604px;
  height: 308px;
  margin: 26px auto 0;
}

.u-section-1 .u-group-9 {
  min-height: 836px;
  margin-bottom: 14px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-21 {
  text-align: left;
  font-family: Barlow;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 57px auto 0 163px;
}

.u-section-1 .u-text-22 {
  font-family: Barlow;
  font-size: 1.5rem;
  text-align: left;
  margin: 48px 163px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 10010px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 181px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 63px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-1 .u-group-3 {
    min-height: 591px;
    margin-top: 3px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 63px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-group-4 {
    min-height: 463px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 45px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 18px;
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 63px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 63px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-group-7 {
    min-height: 2617px;
    width: calc(((100% - 940px) / 2) + 990px);
    margin-top: 12px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 50px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 38px;
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 12px;
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 32px;
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 38px;
    margin-right: 82px;
    margin-left: 63px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 77px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 63px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-1 .u-group-9 {
    margin-bottom: 34px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 63px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 82px;
    margin-left: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: 597px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 163px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 361px;
  }

  .u-section-1 .u-image-2 {
    width: 660px;
    height: 348px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 171px;
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-text-13 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    width: 597px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: 457px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 284px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 274px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 267px;
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 307px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 79px;
  }

  .u-section-1 .u-image-4 {
    width: 520px;
    height: 307px;
  }

  .u-section-1 .u-image-5 {
    width: 520px;
    height: 306px;
  }

  .u-section-1 .u-image-6 {
    width: 520px;
    height: 307px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 3784px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    width: 520px;
    height: 282px;
  }

  .u-section-1 .u-image-8 {
    width: 520px;
    height: 267px;
  }

  .u-section-1 .u-image-9 {
    width: 520px;
    height: 265px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-22 {
    width: 457px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-5 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-6 {
    width: 320px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 175px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 169px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 232px;
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-13 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-14 {
    width: 320px;
    margin-right: 57px;
    margin-left: 44px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 189px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 189px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 188px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 189px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 3902px;
  }

  .u-section-1 .u-image-7 {
    width: 320px;
    height: 174px;
  }

  .u-section-1 .u-image-8 {
    width: 320px;
    height: 164px;
  }

  .u-section-1 .u-image-9 {
    width: 320px;
    height: 163px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-22 {
    width: 320px;
  }
}